version: "3.8"

services:
  db:
    image: mysql:8
    container_name: spring_mysql
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD","mysqladmin","ping","-h","127.0.0.1","-uroot","-p${MYSQL_ROOT_PASSWORD}" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  app:
    build: .
    container_name: spring_app
    env_file:
      - .env
    depends_on:
      - db
      - mongodb
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - app-network


  zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    restart: unless-stopped
    volumes:
      - kafka-data:/kafka
    networks:
      - app-network
    environment:
      ZOO_MY_ID: 1
      ZOO_HEAP_SIZE: 512m


    # Kafka
  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    restart: unless-stopped
    volumes:
      - zookeeper-data:/data
    networks:
      - app-network
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OPTS: "-Djava.net.preferIPv4Stack=true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - app-network

volumes:
  mysql-data:
  kafka-data:
  zookeeper-data:
  mongo-data:

networks:
  app-network:
    driver: bridge



